In [1]:
import pandas as pd

# Reading 2 columns from a csv file and ignore others
# Fastest method to read from a csv file
# Define type of each column before actually reading the csv

ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [2]:
# To read only 2 specific columns
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=[0, 4])
ufo.columns

Index(['City', 'Time'], dtype='object')

In [3]:
# To pull out the first few rows
ufo = pd.read_csv('http://bit.ly/uforeports', nrows=4)
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00
3      Abilene              NaN           DISK    KS   6/1/1931 13:00

In [4]:
# How do dataframes and series work with regard to selecting individual entries
# and iteration (for X in userdata:)
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke
Abilene

In [5]:
# for iterating through a dataframe
for index, row in ufo.iterrows():
    print(index, row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO
3 Abilene KS