# Microtask 1
---
Produce a listing of the number of new committers per month, and the number of commits for each of them, as a table and as a CSV file. Use the GrimoireLab enriched index for git.

In [1]:
from datetime import datetime
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Search

import subprocess
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

Assuming we have a running instance of Elasticsearch locally at http://localhost:9200

In [2]:
# elasticsearch instance
es = Elasticsearch('http://localhost:9200', verify_certs=False)

The [scikit-learn](https://github.com/scikit-learn/scikit-learn) repository will be used

In [3]:
# scikit-learn repo
repo = 'https://github.com/scikit-learn/scikit-learn.git'

Run the p2o.py file with the required arguments to get the enriched index for the scikit-learn repository. This index will be called `sklearn`

In [ ]:
subprocess.run(['p2o.py', '--enrich', '--index', 'sklearn_raw', '--index-enrich', 'sklearn', '-e', 'http://localhost:9200', '--no_inc', '--debug', 'git', repo])

Frame a query for the required information using the `elasticsearch_dsl` module.

In [4]:
# frame a query
s = Search(using=es, index='sklearn')
s.aggs.bucket('by_authors', 'terms', field='author_name', size=15000).metric('first_commit', 'min', field='author_date')
s = s.sort('author_date')

# execute the query
result = s.execute()

Aggregate the results as buckets.

In [5]:
buckets_result = result['aggregations']['by_authors']['buckets']
buckets = []

Fill the buckets with the retrieved document for each commit.
Specifically, we require the `first_commit` date, the name of the `author` and the `total_commits` of the author. The `total_commits` can be found by counting the number of documents per author.

In [6]:
for bucket in buckets_result:
    # divide by milliseconds
    first_commit = bucket['first_commit']['value']/1000
    buckets.append({'first_commit':datetime.utcfromtimestamp(first_commit), 'author':bucket['key'], 'total_commits':bucket['doc_count']})

Create a pandas DataFrame from the information stored in `buckets`.

In [7]:
authors = pd.DataFrame.from_records(buckets)
authors

                    author        first_commit  total_commits
0           Olivier Grisel 2010-03-03 13:46:28           2288
1          Andreas Mueller 2011-05-23 20:43:48           2093
2         Fabian Pedregosa 2010-01-05 13:26:32           1674
3            Lars Buitinck 2011-04-28 18:04:01           1283
4       Alexandre Gramfort 2010-03-02 15:01:46           1078
5            Gilles Louppe 2011-07-19 11:33:00            942
6           Gael Varoquaux 2010-01-08 08:35:18            886
7       Peter Prettenhofer 2010-10-19 00:00:25            868
8          Mathieu Blondel 2010-09-14 20:03:49            784
9           Gael varoquaux 2010-05-13 22:07:13            654
10            Joel Nothman 2013-03-13 14:47:51            600
11             Arnaud Joly 2012-11-21 10:07:15            586
12                    vene 2010-11-30 18:16:48            493
13          Jaques Grobler 2012-01-27 15:24:36            394
14      Yaroslav Halchenko 2010-03-24 21:07:28            366
15         Jake Vanderplas 2011-05-13 09:40:35            318
16           GaelVaroquaux 2011-02-14 16:27:38            317
17            Vlad Niculae 2011-06-14 23:51:40            294
18         Nelle Varoquaux 2011-04-02 15:32:56            242
19             Loïc Estève 2014-11-14 10:05:34            223
20           Robert Layton 2011-07-12 11:39:54            222
21      Jan Hendrik Metzen 2011-10-12 09:36:20            213
22               MechCoder 2014-06-07 11:19:23            206
23               Noel Dawe 2011-03-31 10:30:57            188
24              Brian Holt 2011-07-29 12:20:03            184
25    Johannes Schönberger 2013-06-03 18:52:45            137
26              Raghav R V 2014-11-18 04:35:33            113
27               dengemann 2012-11-10 19:42:26            108
28                kuantkid 2012-09-02 23:07:09            108
29         Florian Wilhelm 2014-01-14 21:51:45            102
...                    ...                 ...            ...
1221           shengxiduan 2016-07-17 12:51:18              1
1222            shenhanc78 2018-01-17 03:59:12              1
1223         shivamgargsya 2017-06-06 14:12:47              1
1224             shuckle16 2016-04-23 03:24:33              1
1225              siftikha 2017-11-15 16:38:59              1
1226            sklearn-ci 2015-10-23 19:46:41              1
1227               snuderl 2014-11-20 11:43:48              1
1228        srajan paliwal 2017-10-27 07:10:47              1
1229             srvanrell 2016-08-26 16:29:20              1
1230                  sseg 2015-04-14 20:10:37              1
1231               staubda 2014-05-27 10:44:58              1
1232             syonekura 2017-10-04 12:28:32              1
1233                 t-aft 2014-05-07 13:33:36              1
1234                tKammy 2016-08-09 14:05:30              1
1235          terrycojones 2015-02-28 19:52:40              1
1236           theriley106 2017-12-21 08:41:03              1
1237         tttthomasssss 2015-01-06 17:05:24              1
1238                  uber 2013-06-29 14:37:04              1
1239             vincent M 2010-09-08 14:10:36              1
1240              wadawson 2014-12-31 10:51:13              1
1241                walter 2015-11-16 15:35:00              1
1242              willduan 2016-12-05 17:22:26              1
1243              wyseguy7 2016-07-16 16:21:43              1
1244                  x006 2012-12-21 14:56:38              1
1245                   xor 2016-12-19 22:35:49              1
1246           yangarbiter 2016-10-17 06:49:23              1
1247                yelite 2014-07-10 14:48:20              1
1248               ymazari 2018-02-14 04:39:52              1
1249                zivori 2016-04-27 10:24:34              1
1250             zxcvbnius 2017-03-31 19:20:49              1

[1251 rows x 3 columns]

Sort the DataFrame by `first_commit` and reorganize the index.

In [8]:
authors.sort_values(by='first_commit', ascending=False, inplace=True)
authors.index = range(len(authors))
authors.head()

                author        first_commit  total_commits
0               Kirill 2018-03-02 08:32:42              2
1          Alexander-N 2018-03-01 23:33:05              1
2  Adam Richie-Halford 2018-03-01 14:27:26              1
3         Jan Schlüter 2018-03-01 02:03:19              1
4       Will Rosenfeld 2018-02-28 02:41:58              1

Let's visualize the data. We will plot the `total_commits` commits for each person sorted by `first_commit`.
Before that, let's add another column to our DataFrame that stores the `year` and `month` of first commit concatenated into a string. This will help us understand the distribution of commits over each month.

In [9]:
years = list(authors.first_commit.dt.year)
months = list(authors.first_commit.dt.month)
datestr = []

for i in range(len(authors)):
    if months[i] < 10:
        months[i] = str(0) + str(months[i])
    datestr.append(str(years[i]) + str(months[i]))
    
authors['datestr'] = pd.Series(datestr, index=authors.index)
authors = authors[['author', 'datestr', 'first_commit', 'total_commits']]
# head of the DataFrame
authors.head()

                author datestr        first_commit  total_commits
0               Kirill  201803 2018-03-02 08:32:42              2
1          Alexander-N  201803 2018-03-01 23:33:05              1
2  Adam Richie-Halford  201803 2018-03-01 14:27:26              1
3         Jan Schlüter  201803 2018-03-01 02:03:19              1
4       Will Rosenfeld  201802 2018-02-28 02:41:58              1

In [ ]:
by_month = authors[['first_commit', 'total_commits']].groupby([authors.first_commit.dt.year, authors.first_commit.dt.month]).agg(['min', 'max', 'count'])

In [ ]:
by_month

In [ ]:
by_month['first_commit']['count']

In [ ]:
fig, ax = plt.subplots(figsize=(20, 15))
ax.plot(authors.datestr, authors.total_commits, 'k-')
ax.set_ylabel('Total number of commits')
ax.set_xlabel('Month')
ax.set_xticklabels([])
plt.show()