In [1]:
from datetime import datetime
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Search

import subprocess
import pandas as pd

In [2]:
# elasticsearch instance
es = Elasticsearch('http://localhost:9200', verify_certs=False)

In [3]:
# scikit-learn repo
repo = 'https://github.com/scikit-learn/scikit-learn.git'

In [ ]:
# run p2o.py to get enriched indices
subprocess.run(['p2o.py', '--enrich', '--index', 'sklearn_raw', '--index-enrich', 'sklearn', '-e', 'http://localhost:9200', '--no_inc', '--debug', 'git', repo])

In [4]:
# frame a query
s = Search(using=es, index='sklearn')
s.aggs.bucket('by_authors', 'terms', field='author_name', size=15000).metric('first_commit', 'min', field='author_date')
s = s.sort('author_date')

# execute the query
result = s.execute()

In [5]:
buckets_result = result['aggregations']['by_authors']['buckets']
buckets = []

In [6]:
for bucket in buckets_result:
    # divide by milliseconds
    first_commit = bucket['first_commit']['value']/1000
    buckets.append({'first_commit':datetime.utcfromtimestamp(first_commit), 'author':bucket['key'], 'total_commits':bucket['doc_count']})

In [8]:
authors = pd.DataFrame.from_records(buckets)
authors

                    author        first_commit  total_commits
0           Olivier Grisel 2010-03-03 13:46:28           2288
1          Andreas Mueller 2011-05-23 20:43:48           2093
2         Fabian Pedregosa 2010-01-05 13:26:32           1674
3            Lars Buitinck 2011-04-28 18:04:01           1283
4       Alexandre Gramfort 2010-03-02 15:01:46           1078
5            Gilles Louppe 2011-07-19 11:33:00            942
6           Gael Varoquaux 2010-01-08 08:35:18            886
7       Peter Prettenhofer 2010-10-19 00:00:25            868
8          Mathieu Blondel 2010-09-14 20:03:49            784
9           Gael varoquaux 2010-05-13 22:07:13            654
10            Joel Nothman 2013-03-13 14:47:51            600
11             Arnaud Joly 2012-11-21 10:07:15            586
12                    vene 2010-11-30 18:16:48            493
13          Jaques Grobler 2012-01-27 15:24:36            394
14      Yaroslav Halchenko 2010-03-24 21:07:28            366
15         Jake Vanderplas 2011-05-13 09:40:35            318
16           GaelVaroquaux 2011-02-14 16:27:38            317
17            Vlad Niculae 2011-06-14 23:51:40            294
18         Nelle Varoquaux 2011-04-02 15:32:56            242
19             Loïc Estève 2014-11-14 10:05:34            223
20           Robert Layton 2011-07-12 11:39:54            222
21      Jan Hendrik Metzen 2011-10-12 09:36:20            213
22               MechCoder 2014-06-07 11:19:23            206
23               Noel Dawe 2011-03-31 10:30:57            188
24              Brian Holt 2011-07-29 12:20:03            184
25    Johannes Schönberger 2013-06-03 18:52:45            137
26              Raghav R V 2014-11-18 04:35:33            113
27               dengemann 2012-11-10 19:42:26            108
28                kuantkid 2012-09-02 23:07:09            108
29         Florian Wilhelm 2014-01-14 21:51:45            102
...                    ...                 ...            ...
1221           shengxiduan 2016-07-17 12:51:18              1
1222            shenhanc78 2018-01-17 03:59:12              1
1223         shivamgargsya 2017-06-06 14:12:47              1
1224             shuckle16 2016-04-23 03:24:33              1
1225              siftikha 2017-11-15 16:38:59              1
1226            sklearn-ci 2015-10-23 19:46:41              1
1227               snuderl 2014-11-20 11:43:48              1
1228        srajan paliwal 2017-10-27 07:10:47              1
1229             srvanrell 2016-08-26 16:29:20              1
1230                  sseg 2015-04-14 20:10:37              1
1231               staubda 2014-05-27 10:44:58              1
1232             syonekura 2017-10-04 12:28:32              1
1233                 t-aft 2014-05-07 13:33:36              1
1234                tKammy 2016-08-09 14:05:30              1
1235          terrycojones 2015-02-28 19:52:40              1
1236           theriley106 2017-12-21 08:41:03              1
1237         tttthomasssss 2015-01-06 17:05:24              1
1238                  uber 2013-06-29 14:37:04              1
1239             vincent M 2010-09-08 14:10:36              1
1240              wadawson 2014-12-31 10:51:13              1
1241                walter 2015-11-16 15:35:00              1
1242              willduan 2016-12-05 17:22:26              1
1243              wyseguy7 2016-07-16 16:21:43              1
1244                  x006 2012-12-21 14:56:38              1
1245                   xor 2016-12-19 22:35:49              1
1246           yangarbiter 2016-10-17 06:49:23              1
1247                yelite 2014-07-10 14:48:20              1
1248               ymazari 2018-02-14 04:39:52              1
1249                zivori 2016-04-27 10:24:34              1
1250             zxcvbnius 2017-03-31 19:20:49              1

[1251 rows x 3 columns]

In [9]:
authors.sort_values(by='first_commit', ascending=False, inplace=True)

In [10]:
authors

                      author        first_commit  total_commits
517                   Kirill 2018-03-02 08:32:42              2
699              Alexander-N 2018-03-01 23:33:05              1
684      Adam Richie-Halford 2018-03-01 14:27:26              1
861             Jan Schlüter 2018-03-01 02:03:19              1
1101          Will Rosenfeld 2018-02-28 02:41:58              1
1035           Saurabh Gupta 2018-02-27 03:30:38              1
1076       Trishnendu Ghorai 2018-02-26 17:48:27              1
785           Danielle Shwed 2018-02-26 17:25:20              1
544      Mohamed Ali Jamaoui 2018-02-26 13:21:17              2
755              Chady Kamar 2018-02-24 13:42:44              1
722         Antonio Quinonez 2018-02-22 00:15:26              1
1031      Saqib Nizam Shamsi 2018-02-18 20:36:28              1
931             Luke Persola 2018-02-14 12:44:58              1
780        Daniel Klevebring 2018-02-14 09:19:30              1
1248                 ymazari 2018-02-14 04:39:52              1
1069           Tobias Madsen 2018-02-08 21:02:30              1
825                 FrankHui 2018-02-08 05:48:03              1
1142                  cwitte 2018-02-07 13:54:36              1
1186                   ksemb 2018-02-07 00:41:21              1
798                    Derek 2018-02-01 15:52:19              1
843          Hunan Rostomyan 2018-01-29 16:11:47              1
608                    Tommy 2018-01-27 23:01:18              2
1191            martin-kokos 2018-01-25 02:31:03              1
860                Jamie Cox 2018-01-24 13:27:04              1
325                  cclauss 2018-01-23 00:29:22              4
687            Akash Shivram 2018-01-21 20:10:19              1
730              Ayush Gupta 2018-01-19 20:26:29              1
198                   jotasi 2018-01-18 14:27:59              8
412      William de Vazelhes 2018-01-18 02:12:31              3
1222              shenhanc78 2018-01-17 03:59:12              1
...                      ...                 ...            ...
1209                    popo 2010-11-05 06:06:34              1
67                   dubourg 2010-11-01 00:44:18             35
156                   pprett 2010-10-19 14:02:31             11
7         Peter Prettenhofer 2010-10-19 00:00:25            868
398             Ronan Amicel 2010-09-18 22:47:59              3
8            Mathieu Blondel 2010-09-14 20:03:49            784
1239               vincent M 2010-09-08 14:10:36              1
37                  bthirion 2010-09-08 10:52:58             76
38            VirgileFritsch 2010-09-07 11:52:09             72
954         Matthieu Brucher 2010-08-18 17:12:52              1
151          Matthieu Perrot 2010-08-11 22:42:47             11
978               Nico Golde 2010-08-06 10:12:11              1
132                  revilyo 2010-07-27 23:49:52             14
83                   vincent 2010-07-27 11:35:32             25
54         Edouard Duchesnay 2010-07-27 09:58:34             41
1130                  arokem 2010-07-08 12:08:47              1
40                 Ron Weiss 2010-07-02 21:26:57             66
99            Vincent Michel 2010-06-22 11:30:53             19
9             Gael varoquaux 2010-05-13 22:07:13            654
467   Chris Filo Gorgolewski 2010-05-13 14:52:44              2
637               gvaroquaux 2010-05-05 11:42:04              2
62                   ogrisel 2010-05-03 12:10:37             38
14        Yaroslav Halchenko 2010-03-24 21:07:28            366
0             Olivier Grisel 2010-03-03 13:46:28           2288
88            Michel Vincent 2010-03-03 11:04:06             22
172         Bertrand Thirion 2010-03-03 10:59:23              9
4         Alexandre Gramfort 2010-03-02 15:01:46           1078
80           Jake VanderPlas 2010-02-05 19:37:25             25
6             Gael Varoquaux 2010-01-08 08:35:18            886
2           Fabian Pedregosa 2010-01-05 13:26:32           1674

[1251 rows x 3 columns]

In [35]:
by_month = authors[['first_commit', 'total_commits']].groupby([authors.first_commit.dt.year, authors.first_commit.dt.month]).agg(['min', 'max', 'count'])

In [36]:
by_month

                                 first_commit                            \
                                          min                 max count
first_commit first_commit
2010         1            2010-01-05 13:26:32 2010-01-08 08:35:18     2
             2            2010-02-05 19:37:25 2010-02-05 19:37:25     1
             3            2010-03-02 15:01:46 2010-03-24 21:07:28     5
             5            2010-05-03 12:10:37 2010-05-13 22:07:13     4
             6            2010-06-22 11:30:53 2010-06-22 11:30:53     1
             7            2010-07-02 21:26:57 2010-07-27 23:49:52     5
             8            2010-08-06 10:12:11 2010-08-18 17:12:52     3
             9            2010-09-07 11:52:09 2010-09-18 22:47:59     5
             10           2010-10-19 00:00:25 2010-10-19 14:02:31     2
             11           2010-11-01 00:44:18 2010-11-30 18:16:48     6
             12           2010-12-03 14:30:53 2010-12-16 12:34:54     3
2011         1            2011-01-04 12:50:08 2011-01-20 19:03:23     7
             2            2011-02-01 08:45:12 2011-02-14 16:27:38     2
             3            2011-03-04 03:18:17 2011-03-31 10:30:57     4
             4            2011-04-01 12:03:35 2011-04-28 18:04:01    15
             5            2011-05-12 15:14:58 2011-05-23 20:43:48     6
             6            2011-06-06 11:32:21 2011-06-18 08:17:03     4
             7            2011-07-08 11:50:48 2011-07-31 18:34:18    12
             8            2011-08-01 16:27:03 2011-08-30 16:05:57     7
             9            2011-09-20 16:42:56 2011-09-25 18:02:11     3
             10           2011-10-12 09:36:20 2011-10-12 09:36:20     1
             11           2011-11-07 16:49:50 2011-11-28 02:24:55     2
             12           2011-12-09 16:49:40 2011-12-24 13:22:36     5
2012         1            2012-01-02 19:45:59 2012-01-27 15:24:36     7
             2            2012-02-02 19:41:59 2012-02-23 23:39:18     6
             3            2012-03-06 21:07:39 2012-03-26 12:17:15     8
             4            2012-04-10 07:22:06 2012-04-26 18:33:43     4
             5            2012-05-01 20:50:25 2012-05-31 09:36:31     8
             6            2012-06-04 10:22:28 2012-06-28 11:16:52     4
             7            2012-07-10 15:07:35 2012-07-25 11:34:04     6
...                                       ...                 ...   ...
2015         10           2015-10-01 12:05:59 2015-10-31 23:21:49    33
             11           2015-11-02 18:38:27 2015-11-24 22:22:45    30
             12           2015-12-03 00:16:43 2015-12-28 13:09:58    17
2016         1            2016-01-01 13:18:18 2016-01-30 00:51:37    13
             2            2016-02-06 01:14:26 2016-02-28 22:40:46     9
             3            2016-03-01 06:26:52 2016-03-31 00:59:14    11
             4            2016-04-02 14:58:40 2016-04-30 06:08:11    27
             5            2016-05-03 14:52:32 2016-05-31 14:32:20    17
             6            2016-06-01 14:26:25 2016-06-28 17:00:26    17
             7            2016-07-01 15:50:40 2016-07-30 00:01:36    30
             8            2016-08-02 12:36:43 2016-08-31 19:51:03    26
             9            2016-09-05 14:45:57 2016-09-30 09:06:09    30
             10           2016-10-01 16:23:55 2016-10-31 15:50:35    46
             11           2016-11-01 22:29:34 2016-11-28 12:38:26    19
             12           2016-12-01 10:23:38 2016-12-29 02:46:53    17
2017         1            2017-01-03 13:32:09 2017-01-28 15:35:15    13
             2            2017-02-01 17:43:12 2017-02-26 13:12:21    21
             3            2017-03-02 08:54:09 2017-03-31 19:20:49    35
             4            2017-04-06 23:42:34 2017-04-30 00:57:23    16
             5            2017-05-08 17:02:38 2017-05-31 01:26:12    17
             6            2017-06-01 02:53:22 2017-06-29 01:34:19    30
             7            2017-07-01 18:27:54 2017-07-29 05:13:38    16
             8            2017-08-02 10:48:52 2017-08-29 22:59:02    16
             9            2017-09-01 05:26:19 2017-09-26 03:41:33    18
             10           2017-10-02 12:40:39 2017-10-31 10:48:02    30
             11           2017-11-02 08:22:03 2017-11-28 17:57:13    19
             12           2017-12-04 03:28:19 2017-12-28 17:27:24    21
2018         1            2018-01-04 19:57:34 2018-01-29 16:11:47    19
             2            2018-02-01 15:52:19 2018-02-28 02:41:58    16
             3            2018-03-01 02:03:19 2018-03-02 08:32:42     4

                          total_commits
                                    min   max count
first_commit first_commit
2010         1                      886  1674     2
             2                       25    25     1
             3                        9  2288     5
             5                        2   654     4
             6                       19    19     1
             7                        1    66     5
             8                        1    11     3
             9                        1   784     5
             10                      11   868     2
             11                       1   493     6
             12                       1    38     3
2011         1                        2    58     7
             2                       14   317     2
             3                        3   188     4
             4                        1  1283    15
             5                        1  2093     6
             6                        6   294     4
             7                        2   942    12
             8                        1    68     7
             9                        4    44     3
             10                     213   213     1
             11                       1     1     2
             12                       1     5     5
2012         1                        1   394     7
             2                        1     9     6
             3                        1    31     8
             4                        1     3     4
             5                        1    40     8
             6                        1    41     4
             7                        1    11     6
...                                 ...   ...   ...
2015         10                       1    57    33
             11                       1    55    30
             12                       1    14    17
2016         1                        1    50    13
             2                        1     2     9
             3                        1     5    11
             4                        1    18    27
             5                        1     3    17
             6                        1     5    17
             7                        1    21    30
             8                        1    15    26
             9                        1    19    30
             10                       1    11    46
             11                       1    17    19
             12                       1     4    17
2017         1                        1     4    13
             2                        1    10    21
             3                        1    77    35
             4                        1     7    16
             5                        1    11    17
             6                        1    21    30
             7                        1    13    16
             8                        1    15    16
             9                        1     9    18
             10                       1     7    30
             11                       1     3    19
             12                       1     3    21
2018         1                        1     8    19
             2                        1     2    16
             3                        1     2     4

[98 rows x 6 columns]